/*in this css file, the corresponding HTML file has two classes - pink and red, and 4 ids -> header, content-area, sidebar, footer*/

a:link	{color:#FF0000;} /* unvisited link */
a:visited	{color:#00FF00;} /* visited link */
a:hover	{color:#FF00FF;} /* mouse over link */
a:active	{color:#0000FF;} /* selected link */

#center {
	padding: 50px;
}


#header {
	/*padding: 100px 10px 30px 50px;*/
	/*border: 1px dotted #ff0000;*/
	/*margin: 10px 5px 3px 5px;*/
	position: relative; 
    left: 20px; 
    top: -20px;
    height: 100px; 
    color: rgba(0,0,0,0.1);
    background-image: "images/japan.gif";

}

#content-area {
	border-width: 10px;
	border-style: dashed;
	border-color: #666666;
	/*margin-left: auto;*/
	/*margin-right: 5px;*/
	width: 300px;
	/*position: relative;*/
	/*top: 20px;*/
	float: right;
}


#sidebar {
	border: 4px solid #ff0000;
	margin-right: auto;
	width: 300px;
	float:left;
}
#footer {
	padding:5px;
	margin: auto;
	height: 15px;
	position: absolute;
	bottom: 10px;
	color: orange;
}

#caption {
	position: absolute;
	bottom: 100px;
	left: 350px;
}
/*classes*/
.pink {
	color:pink;
}

.red {
	color:red;
}

body {

}

body::after {
	    /*background-image:url("../images/japan.gif");*/
    	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url("../images/japan.gif");	
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;

}